@use '../utils/' as u;
@use '../global/colors' as c;

.arrowButton {
    position: relative;
    font-size: u.rem(20);
    font-weight: 500;
    text-transform: capitalize;
    width: u.em(130);
    padding: u.em(10) u.em(10);
    border: none;
    border-radius: u.rem(3);
    outline: 0;
    cursor: pointer;
    background-color: c.$stepper-green;
    color: c.$text-white;
    box-shadow: 0 .2rem 0.3rem hsla(0, 0%, 0%, 0.4);
    margin: u.rem(10);
    transition: background-color 200ms ease-in;

    .chevron-container{
        width: 100%;
        display: grid;

        .chevron {
            position: absolute;
            top: u.rem(10);
            width: u.rem(27);
            aspect-ratio: 1 / 1;
            stroke-width: u.rem(2.7);
            stroke: currentColor;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            transition: transform 200ms ease-in;
            
            &.prev {
                justify-self: flex-start;
            }

            &.next {
                justify-self: flex-end;
                transform: rotate(180deg);
            }
        }
    }

    &:enabled {
        &:hover {
            background-color: c.$stepper-green-dark;
        }

        &:hover .chevron.next {
            transform: rotate(180deg) translateX(u.rem(-3));
        }
    
        &:hover .chevron.prev {
            transform: translateX(u.rem(-3));
        }

        &:active {
            transform: translateY(.15rem);
            box-shadow: 0 0 0.2rem hsla(0, 0%, 0%, 0.4);
        }
    }

    &:disabled {
        opacity: 60%;
        box-shadow: none;
        cursor: default;
    }
}