@use '../utils/' as u;
@use '../global/colors' as c;

.step-counter {
    counter-reset: step;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;

        .step {
            position: relative;
            flex-grow: 1;
            text-align: center;
            
            &::before{
                display: flex;
                content: counter(step);
                counter-increment: step;
                width: u.rem(30);
                aspect-ratio: 1 / 1;
                background-color: c.$background-color;
                color: c.$text-grey;
                border: 2px solid c.$text-grey;
                justify-content: center;
                align-items: center;
                margin-inline: auto;
                border-radius: 50%;
                margin-bottom: u.rem(5);
                transition: background-color 400ms,
                            border-color 400ms,
                            color 400ms,
                            transform 200ms ease-in,
                            border-radius 150ms ease-in;
            }

            &.active::before {
                border-color: c.$stepper-green-light;
                background-color: c.$stepper-green;
                color: white;
                transform: scale(1.2);
                border-radius: 35%;
                transition-delay: 825ms;
            }
            
            &.complete::before {
                content: '';
                color: white;
                border-color: c.$stepper-green;
                background-color: c.$stepper-green;
            }

            &.square::before{
                border-radius: 25%;
            }

            &.square.active::before{
                border-radius: 50%;
            }

            &::after{
                content: '';
                position: absolute;
                background-color: c.$stepper-green;
                height: u.rem(4);
                width: 100%;
                top: u.rem(13);
                left: -50%;
                z-index: -1;
                transform: scaleX(0);
                transition: transform 500ms ease-in;
                transform-origin: left;
                transition-delay: 400ms;
            }

            &:first-child::after {
                content: none;
            }

            &.active::after {
                transform: scaleX(1);
            }

            &.partial::after {
                // background-image: linear-gradient(
                //     90deg,
                //     rgba(#fff, 0) 0,
                //     rgba(hsl(127, 100%, 50%), 0.2) 30%,
                //     rgba(hsl(127, 100%, 50%), 0.5) 50%,
                //     rgba(#fff, 0)
                // );
                // background-size: 200%, 100%;
                transform: scaleX(.5); //.66?
                // animation: 2s shine ease-in infinite;
                // animation-delay: 650ms;
            }

            @keyframes shine {
                to {
                    background-position-x: -200%;
                }
            }

            &.complete::after {
                transform: scaleX(1);
            }

            .checkmark-container {
                display: flex;
                justify-content: center;
                position: absolute;
                top: u.rem(7);
                width: 100%;
            }

            .checkmark-svg {
                width: 0px;
                height: 0px;
                fill: none;
                stroke-dashoffset: u.rem(1000);
                transition: stroke-dashoffset 1500ms ease-in;
            }

            &.complete .checkmark-svg {
                stroke: white;
                stroke-width: u.rem(4);
                width: u.rem(15);
                height: u.rem(15);
                stroke-dashoffset: 0;
                stroke-dasharray: u.rem(1000);
            }

            .step-connector-line {
                background-color: c.$text-grey;
                height: u.rem(4);
                width: 100%;
                position: absolute;
                top: u.rem(13);
                left: -50%;
                z-index: -2;
            }
        }
    }
}