@use './colors' as c;
@use '../utils/fonts' as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: u.$font;
    background-color: c.$background-color;
    color: c.$text-color;
}